<h1>Burger Planner</h1>

<form action="/?_method=PUT" method="POST">
  <input type="text" name="burger_name" placeholder="Burger name"></input>
  <button type="submit">Update Burger!</button>
</form>

<form action="/" method="POST">
  <input type="text" name="burger_name" placeholder="Burger name"></input>
  <button type="submit">Submit</button>
</form>